.home-container {
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 5rem; 
}

.fullscreen-section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
  
}

.title-screen-section {
  padding-top: 5rem;
  min-height: calc(100vh - 5rem);
}

.slider-section,
.playground-section {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 5rem;
}

@media (max-width: 992px) {
  .home-container {
    scroll-padding-top: 4.375rem;
  }
  
  .fullscreen-section::before {
    height: 4.375rem;
    margin-top: -4.375rem;
  }
  
  .title-screen-section {
    padding-top: 4.375rem;
    min-height: calc(100vh - 4.375rem);
  }
  
  :target {
    scroll-margin-top: 4.375rem;
  }
}

@media (max-width: 480px) {
  .home-container {
    scroll-padding-top: 4rem;
  }
  
  .fullscreen-section::before {
    height: 4rem;
    margin-top: -4rem;
  }
  
  .title-screen-section {
    padding-top: 4rem;
    min-height: calc(100vh - 4rem);
  }
  
  :target {
    scroll-margin-top: 4rem;
  }
}

